@import url('https://fonts.googleapis.com/css2?family=Cambay&family=Kanit&family=Krona+One&family=Montserrat:wght@300;900&family=Poppins:wght@200&family=Prompt:wght@300;500&family=Quicksand:wght@300&family=Roboto&family=Roboto+Flex:opsz,wght@8..144,100&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Roboto', sans-serif;
}

.navbar {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  border: 2px solid black;
}

.links {
  margin-right: 5rem;
}

.links a {
  margin-right: 20px;
  font-size: 13px;
  padding: 3px 15px;
  text-decoration: none;
}

.active {
  color: #fff;
  background-color: blueviolet;
}

.mission {
  display: flex;
  font-size: 13px;
  width: 90%;
  margin: 20px auto;
}

.mission p {
  margin: 0 20px;
}

#logo {
  width: 50px;
  display: inline-block;
}

h1 {
  display: inline;
}